[submodule "flexible-vaults/lib/openzeppelin-contracts-upgradeable"]
	path = flexible-vaults/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
